<h4 style="text-align: center;font-weight: bold;">{{title | titlecase}}</h4>
<nav   class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
  
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"  routerLink='path1'>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='path2'>Loans</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink='path3'>Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='path4'>Signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='path5'>Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='path6'>About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='path6'>Blog</a>
    </li>
  </ul>
</nav>



<router-outlet></router-outlet>